.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;

    form {
        gap: 20px;
    }
}

.add-img-upload {
    width: 120px;

    img {
        cursor: pointer;
    }
}


.add-product-name {
    width: max(40%, 280px);

    input {
        padding: 10px;
    }
}

.add-product-description {
    width: max(40%, 280px);

    textarea {
        padding: 10px;
    }

}

.add-category-price {
    display: flex;
    gap: 30px;

    select, input {
        max-width: 120px;
        padding: 10px;
    }
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}